Gathered data/TECH/xsd_extracted/monitorPrilohaKons.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
    xmlns="urn:cz:mfcr:monitor:schemas:MonitorPrilohaKonsolidace:v1"
    xmlns:mon="urn:cz:mfcr:monitor:schemas:MonitorTypes:v1"
    targetNamespace="urn:cz:mfcr:monitor:schemas:MonitorPrilohaKonsolidace:v1"
    elementFormDefault="qualified" attributeFormDefault="unqualified" version="1">
    <xs:import namespace="urn:cz:mfcr:monitor:schemas:MonitorTypes:v1"
        schemaLocation="monitorTypes.xsd"/>
    <xs:element name="PrilohaKonsolidace">
        <xs:complexType>
            <xs:sequence>
                <xs:element maxOccurs="unbounded" minOccurs="0" name="Radek">
                    <xs:complexType>
                        <xs:sequence>
                            <xs:element name="KodVykazuPKP" type="mon:KodVykazuPKPType"/>
                            <xs:element name="Polozka" type="mon:PolozkaType"/>
                            <xs:element name="ObdobiBezneCinnostHlavni"
                                type="mon:FinancniCastkaType"/>
                            <xs:element name="ObdobiMinuleCinnostHlavni"
                                type="mon:FinancniCastkaType"/>
                        </xs:sequence>
                    </xs:complexType>
                </xs:element>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
</xs:schema>
