Gathered data/TECH/xsd_extracted/monitorFin212M.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
    xmlns="urn:cz:mfcr:monitor:schemas:MonitorFin212M:v1"
    xmlns:mon="urn:cz:mfcr:monitor:schemas:MonitorTypes:v1"
    targetNamespace="urn:cz:mfcr:monitor:schemas:MonitorFin212M:v1" elementFormDefault="qualified"
    attributeFormDefault="unqualified" version="1">
    <xs:import namespace="urn:cz:mfcr:monitor:schemas:MonitorTypes:v1"
        schemaLocation="monitorTypes.xsd"/>

    <xs:element name="Fin212M">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="PrijmyRozpoctove">
                    <xs:annotation>
                        <xs:documentation xml:lang="cz">I. Rozpočtové příjmy</xs:documentation>
                    </xs:annotation>
                    <xs:complexType>
                        <xs:sequence>
                            <xs:element maxOccurs="unbounded" minOccurs="0" name="Radek">
                                <xs:complexType>
                                    <xs:sequence>
                                        <xs:element name="Paragraf" type="mon:ParagrafRozpoctovaSkladbaType"/>
                                        <xs:element name="Polozka" type="mon:PolozkaRozpoctovaSkladbaType"/>
                                        <xs:element name="RozpocetSchvaleny" type="mon:FinancniCastkaType"/>
                                        <xs:element name="RozpocetPoZmenach" type="mon:FinancniCastkaType"/>
                                        <xs:element name="Vysledek" type="mon:FinancniCastkaType"/>
                                    </xs:sequence>
                                </xs:complexType>
                            </xs:element>
                        </xs:sequence>
                    </xs:complexType>
                </xs:element>
                <xs:element name="VydajeRozpoctove">
                    <xs:annotation>
                        <xs:documentation xml:lang="cz">II. Rozpočtové výdaje</xs:documentation>
                    </xs:annotation>
                    <xs:complexType>
                        <xs:sequence>
                            <xs:element maxOccurs="unbounded" minOccurs="0" name="Radek">
                                <xs:complexType>
                                    <xs:sequence>
                                        <xs:element name="Paragraf" type="mon:ParagrafRozpoctovaSkladbaType"/>
                                        <xs:element name="Polozka" type="mon:PolozkaRozpoctovaSkladbaType"/>
                                        <xs:element name="RozpocetSchvaleny" type="mon:FinancniCastkaType"/>
                                        <xs:element name="RozpocetPoZmenach" type="mon:FinancniCastkaType"/>
                                        <xs:element name="Vysledek" type="mon:FinancniCastkaType"/>
                                    </xs:sequence>
                                </xs:complexType>
                            </xs:element>
                        </xs:sequence>
                    </xs:complexType>
                </xs:element>
                <xs:element name="Financovani">
                    <xs:annotation>
                        <xs:documentation xml:lang="cz">III. Financování - třída 8</xs:documentation>
                    </xs:annotation>
                    <xs:complexType>
                        <xs:sequence>
                            <xs:element minOccurs="0" maxOccurs="unbounded" name="Radek">
                                <xs:complexType>
                                    <xs:sequence>
                                        <xs:element name="RadekCislo" type="mon:RadekCisloType"/>
                                        <xs:element name="RozpocetSchvaleny" type="mon:FinancniCastkaType"/>
                                        <xs:element name="RozpocetPoZmenach" type="mon:FinancniCastkaType"/>
                                        <xs:element name="Vysledek" type="mon:FinancniCastkaType"/>
                                    </xs:sequence>
                                </xs:complexType>
                            </xs:element>
                        </xs:sequence>
                    </xs:complexType>
                </xs:element>
                <xs:element name="RekapitulacePrijmyVydaje">
                    <xs:annotation>
                        <xs:documentation xml:lang="cz">IV. Rekapitulace příjmů, výdajů, financování a jejich konsolidace</xs:documentation>
                    </xs:annotation>
                    <xs:complexType>
                        <xs:sequence>
                            <xs:element minOccurs="0" maxOccurs="unbounded" name="Radek">
                                <xs:complexType>
                                    <xs:sequence>
                                        <xs:element name="RadekCislo" type="mon:RadekCisloType"/>
                                        <xs:element name="RozpocetSchvaleny" type="mon:FinancniCastkaType"/>
                                        <xs:element name="RozpocetPoZmenach" type="mon:FinancniCastkaType"/>
                                        <xs:element name="Vysledek" type="mon:FinancniCastkaType"/>
                                    </xs:sequence>
                                </xs:complexType>
                            </xs:element>
                        </xs:sequence>
                    </xs:complexType>
                </xs:element>                
                <xs:element name="UctyBankovniStavyAObraty">
                    <xs:annotation>
                        <xs:documentation xml:lang="cz">VI. Stavy a obraty na bankovních účtech</xs:documentation>
                    </xs:annotation>
                    <xs:complexType>
                        <xs:sequence>
                            <xs:element maxOccurs="unbounded" minOccurs="0" name="Radek">
                                <xs:complexType>
                                    <xs:sequence>
                                        <xs:element name="RadekCislo" type="mon:RadekCisloType"/>
                                        <xs:element name="StavPocatecni" type="mon:FinancniCastkaType" minOccurs="0"/>
                                        <xs:element name="StavKonecObdobi" type="mon:FinancniCastkaType"/>
                                        <xs:element name="ZmenaStavu" type="mon:FinancniCastkaType" minOccurs="0"/>
                                    </xs:sequence>
                                </xs:complexType>
                            </xs:element>
                        </xs:sequence>
                    </xs:complexType>
                </xs:element>
                <xs:element name="JednotkyZaznamoveVybrane">
                    <xs:annotation>
                        <xs:documentation xml:lang="cz">VII. Vybrané záznamové jednotky</xs:documentation>
                    </xs:annotation>
                    <xs:complexType>
                        <xs:sequence>
                            <xs:element maxOccurs="unbounded" minOccurs="0" name="Radek">
                                <xs:complexType>
                                    <xs:sequence>
                                        <xs:element name="RadekCislo" type="mon:RadekCisloType"/>
                                        <xs:element name="RozpocetSchvaleny" type="mon:FinancniCastkaType"/>
                                        <xs:element name="RozpocetPoZmenach" type="mon:FinancniCastkaType"/>
                                        <xs:element name="Vysledek" type="mon:FinancniCastkaType"/>
                                    </xs:sequence>
                                </xs:complexType>
                            </xs:element>
                        </xs:sequence>
                    </xs:complexType>
                </xs:element>
                <xs:element name="TransferyPujckyPrijate">
                    <xs:annotation>
                        <xs:documentation xml:lang="cz">IX. Přijaté transfery a půjčky ze státního rozpočtu, státních fondů a regionálních rad</xs:documentation>
                    </xs:annotation>
                    <xs:complexType>
                        <xs:sequence>
                            <xs:element maxOccurs="unbounded" minOccurs="0" name="Radek">
                                <xs:complexType>
                                    <xs:sequence>
                                        <xs:element name="RadekTyp" minOccurs="0" type="mon:RadekTypType"/>
                                        <xs:element name="ZnakUcelovy" minOccurs="0" type="mon:ZnakUcelovyType"/>
                                        <xs:element name="Polozka" minOccurs="0" type="mon:PolozkaRozpoctovaSkladbaType"/>
                                        <xs:element name="PrijemceNuts" type="mon:NutsKodType" minOccurs="0"/>
                                        <xs:element name="Vysledek" minOccurs="0" type="mon:FinancniCastkaType"/>
                                        <xs:element name="VydajeParagraf" minOccurs="0" type="mon:ParagrafRozpoctovaSkladbaType"/>
                                        <xs:element name="VydajePolozka" minOccurs="0" type="mon:PolozkaRozpoctovaSkladbaType"/>                                        
                                        <xs:element name="PrijmyPolozka" minOccurs="0" type="mon:PolozkaRozpoctovaSkladbaType"/>                                        
                                        <xs:element name="VydajeVysledek" minOccurs="0" type="mon:FinancniCastkaType"/>
                                        <xs:element name="PrijmyVysledek" minOccurs="0" type="mon:FinancniCastkaType"/>
                                        <xs:element name="Rozdil" minOccurs="0" type="mon:FinancniCastkaType"/>
                                    </xs:sequence>
                                </xs:complexType>
                            </xs:element>
                        </xs:sequence>
                    </xs:complexType>
                </xs:element>
                <xs:element name="TransferyPujckyPoskytnute" minOccurs="0">
                    <xs:annotation>
                        <xs:documentation xml:lang="cz">X. Transfery a půjčky poskytnuté regionálními radami územně samosprávným celkům, dobrovolným svazkům obcí a regionálním radám</xs:documentation>
                    </xs:annotation>
                    <xs:complexType>
                        <xs:sequence>
                            <xs:element maxOccurs="unbounded" minOccurs="0" name="Radek">
                                <xs:complexType>
                                    <xs:sequence>
                                        <xs:element name="ZnakUcelovy" type="mon:ZnakUcelovyType"/>
                                        <xs:element name="Polozka" type="mon:PolozkaRozpoctovaSkladbaType"/>
                                        <xs:element name="PrijemceNuts" type="mon:NutsKodType" minOccurs="0"/>
                                        <xs:element name="Vysledek" type="mon:FinancniCastkaType"/>
                                    </xs:sequence>
                                </xs:complexType>
                            </xs:element>
                        </xs:sequence>
                    </xs:complexType>
                </xs:element>   
                
                <xs:element name="PrijmyVydajeUdalostiMimoradne" minOccurs="0">
                    <xs:annotation>
                        <xs:documentation>X. Příjmy a výdaje související s mimořádnými událostmi regionálního nebo celorepublikového významu</xs:documentation>
                    </xs:annotation>
                    <xs:complexType>
                        <xs:sequence>
                            <xs:element name="Prijmy">
                                <xs:complexType>
                                    <xs:sequence>
                                        <xs:element minOccurs="0" maxOccurs="unbounded" name="Radek">
                                            <xs:complexType>
                                                <xs:sequence>
                                                    <xs:element name="UdalostMimoradna" type="mon:UdalostMimoradnaType"/>
                                                    <xs:element name="Paragraf" type="mon:ParagrafRozpoctovaSkladbaType"/>
                                                    <xs:element name="Polozka" type="mon:PolozkaRozpoctovaSkladbaType"/>
                                                    <xs:element name="Nastroj" type="mon:Nastroj4Type"/>
                                                    <xs:element name="JednotkaProstorova" type="mon:Zdroj4Type"/>                                        
                                                    <xs:element name="Vysledek" type="mon:FinancniCastkaType"/>                                        
                                                </xs:sequence>
                                            </xs:complexType>
                                        </xs:element>
                                    </xs:sequence>
                                </xs:complexType>
                            </xs:element>
                            <xs:element name="Vydaje">
                                <xs:complexType>
                                    <xs:sequence>
                                        <xs:element minOccurs="0" maxOccurs="unbounded" name="Radek">
                                            <xs:complexType>
                                                <xs:sequence>
                                                    <xs:element name="UdalostMimoradna" type="mon:UdalostMimoradnaType"/>
                                                    <xs:element name="Paragraf" type="mon:ParagrafRozpoctovaSkladbaType"/>
                                                    <xs:element name="Polozka" type="mon:PolozkaRozpoctovaSkladbaType"/>
                                                    <xs:element name="Nastroj" type="mon:Nastroj4Type"/>
                                                    <xs:element name="JednotkaProstorova" type="mon:Zdroj4Type"/>                                        
                                                    <xs:element name="Vysledek" type="mon:FinancniCastkaType"/>                                        
                                                </xs:sequence>
                                            </xs:complexType>
                                        </xs:element>
                                    </xs:sequence>
                                </xs:complexType>
                            </xs:element>
                        </xs:sequence>
                    </xs:complexType>
                </xs:element>                
                
                <xs:element name="PrijmyZdrojeZahranicni">
                    <xs:annotation>
                        <xs:documentation>XI. Příjmy ze zahraničních zdrojů a související příjmy v členění podle jednotlivých nástrojů a prostorových jednotek</xs:documentation>
                    </xs:annotation>
                    <xs:complexType>
                        <xs:sequence>
                            <xs:element minOccurs="0" maxOccurs="unbounded" name="Radek">
                                <xs:complexType>
                                    <xs:sequence>
                                        <xs:element name="Paragraf" type="mon:ParagrafRozpoctovaSkladbaType"/>
                                        <xs:element name="Polozka" type="mon:PolozkaRozpoctovaSkladbaType"/>
                                        <xs:element name="Nastroj" type="mon:Nastroj4Type"/>
                                        <xs:element name="JednotkaProstorova" type="mon:Zdroj4Type"/>                                        
                                        <xs:element name="RozpocetSchvaleny" type="mon:FinancniCastkaType"/>
                                        <xs:element name="RozpocetPoZmenach" type="mon:FinancniCastkaType"/>
                                        <xs:element name="Vysledek" type="mon:FinancniCastkaType"/>                                        
                                    </xs:sequence>
                                </xs:complexType>
                            </xs:element>
                        </xs:sequence>
                    </xs:complexType>
                </xs:element>                
                
                <xs:element name="VydajeZdrojeZahranicni">
                    <xs:annotation>
                        <xs:documentation>XII. Výdaje spolufinancované ze zahraničních zdrojů a související výdaje v členění podle jednotlivých nástrojů a prostorových jednotek</xs:documentation>
                    </xs:annotation>
                    <xs:complexType>
                        <xs:sequence>
                            <xs:element minOccurs="0" maxOccurs="unbounded" name="Radek">
                                <xs:complexType>
                                    <xs:sequence>
                                        <xs:element name="Paragraf" type="mon:ParagrafRozpoctovaSkladbaType"/>
                                        <xs:element name="Polozka" type="mon:PolozkaRozpoctovaSkladbaType"/>
                                        <xs:element name="Nastroj" type="mon:Nastroj4Type"/>
                                        <xs:element name="JednotkaProstorova" type="mon:Zdroj4Type"/>                                        
                                        <xs:element name="RozpocetSchvaleny" type="mon:FinancniCastkaType"/>
                                        <xs:element name="RozpocetPoZmenach" type="mon:FinancniCastkaType"/>
                                        <xs:element name="Vysledek" type="mon:FinancniCastkaType"/>                                        
                                    </xs:sequence>
                                </xs:complexType>
                            </xs:element>
                        </xs:sequence>
                    </xs:complexType>
                </xs:element>                
            </xs:sequence>
        </xs:complexType>
    </xs:element>
</xs:schema>
